.app {
  min-width: 200px;
  width: 400px;
  margin: 0 auto;
  color: #4d4d4d;
  font-size: 14px;
}

.app-title {
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  color: rgba(175, 47, 47, 0.15);
}

.app-main {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}



.app-info {
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 10px;
  text-align: center;
}

.app-info > p {
  line-height: 1em;
}

.app-info a {
  color: #bfbfbf;
  text-decoration: none;
}
